@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Comic+Neue:wght@400;700&family=Lato:wght@300;400;700&family=Satisfy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Nunito:wght@400;600;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*====================NAV - BAR ============*/
.container {
  margin: 1rem 10%;
  height: 100vh;
}
h2 {
  font-family: "Nunito";
}
.icon-delete {
  color: rgb(202, 202, 202);
  font-size: 1.1rem;
  padding: 0rem 2rem;
}
.icon-delete:hover {
  color: rgb(224, 35, 35);
}
.icon-edit {
  color: rgb(57, 125, 204);
  padding-right: 2rem;
  font-size: 1.1rem;
}
.icon-edit:hover {
  color: rgb(43, 94, 151);
}
.navbar {
  height: 4rem;
  width: 100vw;
  background-color: #3e0064;
  position: fixed;
  top: 0;
}
.toggle {
  float: right;
  font-size: 2rem;
  color: white;
  margin: 0.5rem 0.7rem;
  display: none;
}
#check {
  display: none;
}
.navbar span {
  color: rgb(231, 217, 88);
  margin: 0.8rem;
  font-size: 2.8rem;
  padding-top: 0.3rem;
}
.navbar-logo {
  color: rgb(19, 197, 129);
  text-decoration: none;
  font-family: "Aladin";
  font-size: 2.4rem;

  margin-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.navbar-logo:hover {
  color: rgb(13, 219, 140);
}
.navbar-logo img {
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
  color: wheat;
}
.navbar-items {
  float: right;
  margin: 1rem;
}
.navbar-items li {
  list-style: none;
}
.navbar-item {
  display: inline-block;
}
.navbar-link {
  text-decoration: none;
  color: white;
  margin: 0rem 2rem;
}
.navbar-link:hover,
.navbar-link:focus {
  color: rgb(184, 182, 182);
}
/*======= CREATE - EXERCISE =====*/
form {
  width: 80%;
}
.form-item {
  display: grid;
  margin: 0.5rem;
}
.form-item label {
  margin: 0.3rem 0;
  font-family: "lato", sans-serif;
  font-weight: 600;
}
.date-picker {
  width: 10rem;
  color: blue;
}
.form-item .form-control {
  padding: 0.5rem 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid rgb(207, 207, 207);
}
.form-item .form-control:focus {
  border-radius: 0.2rem;
  border: 2px solid rgba(78, 64, 199, 0.507);
  outline: none;
}
.form-item select {
  padding: 0.5rem 0;
  border-radius: 0.2rem;
  border: 1px solid rgb(170, 170, 170);
}

.btn {
  margin: 1rem 0;
  width: 10rem;
  height: 2.5rem;
  background-color: rgb(59, 29, 143);
  color: white;
  border-radius: 0.3rem;
  border: none;
  font-weight: 700;
}
.btn:hover {
  background-color: rgb(73, 42, 158);
}
/* =========== LIST ===== */
/*  */
.table {
  width: 100%;
  align-items: center;
  /* margin: 0 10%; */
  border-collapse: collapse;
}

tbody {
  padding: 1rem;
  margin: 1rem;
  font-family: "lato";
  width: 100%;
}
.table-head {
  text-align: left;

  margin: 0.4rem;
  background-color: rgb(202, 216, 255);
}
td {
  padding: 0.4rem 0rem;
  padding-left: 4rem;
  outline: none;
  border-bottom: 1px solid rgb(233, 233, 233);

  color: rgb(58, 58, 58);
}
th {
  color: rgb(30, 81, 158);
  font-family: "lato";
  height: 2.3rem;
  padding-left: 4rem;
}

/*-- footer -*/
.footer {
  background-color: rgb(43, 40, 56);
  height: 4rem;
  width: 100vw;
  text-align: center;
  align-items: center;
}
.footer li {
  color: rgb(185, 184, 184);
  text-decoration: none;
  list-style: none;
  padding: 1rem;
}

/* /*---------------media querys*---------------*-/ */
@media all and (max-width: 960px) {
  td {
    padding-left: 1.5rem;
  }
  th {
    padding-left: 1.5rem;
  }
  .navbar-link {
    margin: 0rem 1rem;
  }
}
@media all and (max-width: 725px) {
  .container {
    width: 90vw;
    margin: 5vw;
  }
}
@media all and (max-width: 633px) {
  .container {
    width: 100vw;
    margin: 0;
  }

  .navbar-logo {
    font-size: 2.1rem;
  }

  .toggle {
    display: block;
  }
  .navbar-items {
    width: 100%;
    position: fixed;
    background-color: rgb(61, 61, 110);
    margin: 0;
    height: 90vh;
    width: 50%;
    right: -100%;
    display: block;
    align-items: center;
    margin: 0.3rem 0;
    transition: all 0.3s;
  }
  #check:checked ~ .navbar-items {
    right: 0;
  }
  .navbar-item {
    display: block;
    align-items: center;
    margin: 2rem 0;
  }
  .navbar-link {
  }
}
@media all and (max-width: 569px) {
  .icon-delete {
    font-size: 1rem;
    padding: 0rem 0.3rem;
  }
  .icon-edit {
    padding-right: 0.3rem;
    font-size: 1rem;
  }
  .navbar {
    width: 100vw;
  }
  .btn {
    margin-right: 20vw;
    width: 60vw;
    height: 2.5rem;
    background-color: rgb(59, 29, 143);
    color: white;
    border-radius: 0.3rem;
    border: none;
    font-weight: 700;
  }
}
@media all and (max-width: 451px) {
  tbody {
    padding: 0;
  }
  thead {
    margin: 0;
  }
  .table-head {
    margin: 0;
  }
  td {
    padding: 0.8rem 0;
    font-size: 0.8rem;
  }
  tr {
    margin: 0;
    padding: 0;
  }
  th {
    padding: 0rem;
    font-size: 0.8rem;
    padding-right: 0.6rem;
  }
}
